{% extends "base.html.twig" %}
{% block menu %} {{ render(controller('VielleCatalogBundle:Menu:menu', {})) }}{% endblock %}
{% block body %}
    <div class="account-in">
        <div class="container">
            <h3>Mentions Légales</h3>
            <div class="col-md-12">
                
                <ul class="product-categories color"><li class="cat-item">Directeur de la publication <span class="count">Jean-Claude BOUDET</span></li>
                    <li class="cat-item">Développement <span class="count"><a href="mailto:natacha@boudetnature.com">Natacha NOEL</a></span></li>
                    <li class="cat-item">Hébergement <span class="count"><a href="https://www.o2switch.fr/">o2switch</a></span></li>
                    <li class="cat-item">Droits à l'image <span class="count"><a href="mailto:info@boudetnature.com">Alexandre BOUDET</a>, collection privée Boudet</span></li>
                    <li class="cat-item">Droits d'auteur <span class="count">Jean-Claude et Claude-Emmanuel BOUDET</span></li>
                    <li class="cat-item">Site réalisé sous licence Creative Commons - 2017</li>
                </ul>
            </div>
            
            <div class="clearfix"> </div>
        </div>
    </div>
{% endblock %}
